body {
    background: #000;
}


header {
    padding: 0 40px;
  }

  nav .logo_text {
    margin: 0;
    margin-right: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 12px 40px;
    width: 100%;
  }
  
  nav ul li {
    display: inline-block;
    padding-top: 10px;
    cursor: pointer;
    user-select: none;
    color: #fff;
  }
  